<!-- <p>
  <b>First Name: </b>{{FirstName}}
</p>
<p>
  <b>Last Name: </b>{{LastName}}
</p>
<p>
  <b>Full Name: </b> {{getFullName()}}
</p> -->

<!-- <img src="{{imageSrc}}" title="title"> -->

<svg width="100" height="100">
    <circle 
    [attr.r] = "value"
    cx="50"
    cy="50"
    stroke="green"
    stroke-width="4"
    fill="yellow"/>
</svg>

<button (click)="plus()">+</button>
<button (click)="minus()">-</button>

<p [class.nice]="isNice">Hello world #1</p>
<button (click)='doNice()'>Do Nice</button>
<p [class.error]="isError">Hello world #2</p>
<button (click)="doError()">Do Error</button>